<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/vin_search/layui/css/layui.css" media="all">
    <title>vin码校验未通过</title>
    <style>
        body {
            margin: 10px;
        }

        .demo-carousel {
            height: 400px;
            line-height: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
<div><p class="layui-bg-green demo-carousel">您输入的vin码有误，请校验后重新输入</p></div>
</body>
</html>